
.navbar
{
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#71a3ce;
}
.navbar a
{
    color: #4c7293;
}
.navbar-brand
{
    font-weight: 700;
    font-size: 1.4em !important;
}
.navbar-toggler-icon
{
    background: url("images/menu.svg");
}


.navbar-nav ul
{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar-nav ul li
{
    transition: 500ms all;
    margin: 0 3px;
}
.nav-link
{
    padding: 0;
}
.navbar-nav ul li:hover
{
    
    transform: scale(1.1);
}

@media screen and (max-width:767px)
{
    .navbar-nav ul
    {
        flex-direction: column;
    }
}

/*----------------MAIN SECTION*/

.main-section
{
    height: 800px;
    background-image: url("images/portada.jpg");
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    padding-left: 100px;
    max-height: 700px;
}
.main-section-text
{
    margin-top: -150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.main-section-text h1
{
    font-size: 3.5em;
    font-weight: 700;
    color:  white;
}
.main-section-button{
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-section-button button
{
    justify-content: center;
    margin-top: 20px;
    width: 30%;
    border: 0;
    background: #4c7293;
    border: 2px solid #4c7293;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1.3em;
    transition: 500ms all;
}
.main-section-button button a{
    color: white;
    text-decoration: none;
}
.main-section-button button:hover
{
    background: none;
    border: 2px solid white;
}

@media screen and (max-width:768px)
{
    .main-section
    {
        padding: 20px;
        justify-content: center;
        height: 700px;
    }
    .main-section-text
    {
        text-align: center;
    }
    .main-section-text h1
    {
        font-size: 3em;
    }
    .main-section-button button
    {
        text-align: center;
    }
}

/*----------------ABOUT*/

.about-section
{
    width: 100%;
    margin: 0 auto;
}
.about-section h1
{
    font-size: 3.5em;
    text-align: center;
    color: #4c7293;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about-section-container
{
    margin: 0 auto !important;
}
.about-section-container-img
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section-container img
{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.about-section-container-text
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about-section-container-text p
{
    font-size: 1.5em;
    margin: auto 0;
    
}

@media screen and (max-width:768px)
{
    .about-section-container-text p
    {
        font-size: 1.1em;
        text-align: center;
    }
}

/*----------------SERVICES*/
.services h1
{
    text-align: center;
    font-size: 3.5em;
    margin: 80px 0 50px;
    color: #4c7293;
}
.services .row
{
    margin: 0 auto;
}

.services-card
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.services-card-icon
{
    width: 110px;
    height: 110px;
    border: 2px solid #4c7293;
    padding:20px;
    border-radius: 50%;
}
.services-card-icon img
{
    width: 100%;
    height: 100%;
}

.services-card h2
{
    margin: 20px 0;
    color: #4c7293;
}
.services-card p
{
    width: 80%;
    font-size: 1.4em;
    text-align: center;
}

@media screen and (max-width:768px)
{
    .services-card
    {
        margin: 30px 0;
    }
}
/*-------------------------VIDEOS*/
.videos{
    display: flex;
    justify-content: center;
    
}
.videos iframe{
    margin: 0 40px;
}
.videos h1{
    text-align: center;
    color: #1955AE;
    font-size: 3.0em;
    margin: 20px 0;
}
@media screen and (max-width:1024px)
{
    .videos{
        flex-direction: column;
        align-items: center;
    }
    .videos iframe{
        margin: 0 auto;
    }
}
/* Reviews */
.reviews-section .item-inner {
    height: 100%;
    position: relative
}

.reviews-section .icon-holder {
    position: absolute;
    left: 50%;
    top: -18px;
    margin-left: -18px;
    display: inline-block;
    width: 36px;
    height: 36px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 6px
}

.reviews-section .source-profile {
    width: 60px
}

.reviews-section .source-info {
    font-size: 0.875rem
}

.reviews-section .quote {
    font-style: italic
}
/*-------------------------FOOTER*/

.footer
{
    background: #71a3ce;
    color: white;
    padding:20px 0;
}
.footer .row
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

.list-footer ul
{
    margin: 0;
    padding: 0;
    list-style:none;
}
.list-footer ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.social-media ul
{
    padding: 0;
}
.social-media ul li
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.social-media ul li img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-logo
{
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px)
{
    .list-footer
    {
        display: none;
    }
    .about-footer
    {
        display: none;
    }

}
@media screen and (max-width:1024px)
{
    .list-footer
    {
        display: none;
    }
    .about-footer
    {
        display: none;
    }
}
